* {
    box-sizing: border-box;
}

body {
    background: #09011f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    width: calc(100% - 80px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d6d6d6;
    border-radius: 4px 0 0 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4b4b4b;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.item {
    padding: 10px;
    cursor: pointer;
    display: flex; 
    flex-direction: column;
}

.item-img {
    width: auto;
    max-height: 200px; 
    object-fit: contain;
    border-radius: 4px;
}

.item-info {
    flex: 1;
    margin-top: 10px;
}

.item-info h3 {
    margin-top: 10px;
}

.item-info p {
    font-size: 14px;
    margin: 10px 0;
}
